      <li>
	  	
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_10.jpg" alt="">
				<div>
						<h2 class="room_name"><%= link_to room.name, room %></h2>
					<h3>
						<span class="status orange"></span>
						offline
					</h3>
				</div>

		</li>